* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #ffff;
  padding: 15px;
}
.navbar a {
  position: relative;
  text-decoration: none;
  color: inherit;
}
.link::before {
  content: "";
  position: absolute;
  background: #ffff;
  top: 20px;
  width: 0%;
  border: 1px solid #ffff;
  border-radius: 10px 10px;
  transition: all 1s ease;
}
.link:hover::before {
  width: 100%;
  border-color: blue;
  background: blue;
}
.logo {
  margin-right: 50px;
}
.logo::first-letter {
  font-size: 30px;
}
.list {
  list-style: none;
  display: flex;
  gap: 25px;
}
#toggler,
.navbar label {
  display: none;
}
@media screen and (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    flex-direction: column;
    align-items: end;
    padding: 20px;
  }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
}

.cuadro_barras {
  position: relative;
  width: 22px;
  height: 15px;
}
.barras {
  position: absolute;
  top: 5px;
  width: 20px;
  height: 2px;
  background: black;
}
.barras::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: black;
  top: -5px;
}
.barras::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: black;
  top: 5px;
}

.img-inicio {
  width: 100%;
}

.card_planes {
  position: relative;
  box-shadow: 0 0 3px 3px rgba($color: grey, $alpha: 0.3);
}
.btn {
  position: relative;
  color: black;
  border: 1px solid blue;
  align-items: center;
  color: white;
  background: rgba($color: #000000, $alpha: 0.5);
}
.btn:hover {
  color: white;
  background: blue;
}

.icono {
  font-size: 17px;
  color: black;
}
.items1 {
  background-image: url(../img/botox.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.items2 {
  background-image: url(../img/pilling.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.items3 {
  background-image: url(../img/depilacion-definitiva.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.items4 {
  background-image: url(../img/mesoterapia-facial.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_planes::before {
  content: "";
  position: absolute;
  background: rgba($color: rgb(255, 255, 255), $alpha: 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

h3,
h6,
p {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
